    <div class="container-fluid" id="main">
    <div class="row row-offcanvas row-offcanvas-left">
      <div class="col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation">
        <ul class="nav flex-column pl-1">
          <li class="nav-item"><a class="nav-link" href="/">Dashboard</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#submenu1" data-toggle="collapse" data-target="#submenu1">Filters ▾</a>
            <ul class="list-unstyled flex-column pl-3 collapse" id="submenu1" aria-expanded="false">
              <li class="nav-item"><a class="nav-link" href="/datefilter">Datewise</a></li>
              <li class="nav-item"><a class="nav-link" href="">Coming Soon</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="/allrecords">All Records</a></li>
          <li class="nav-item"><a class="nav-link" href="/addnew">Add New Record</a></li>
          {% comment %} <li class="nav-item"><a class="nav-link" href="">Nav item</a></li>
          <li class="nav-item"><a class="nav-link" href="">Nav item</a></li>
          <li class="nav-item"><a class="nav-link" href="">Another</a></li>
          <li class="nav-item"><a class="nav-link" href="">Nav item</a></li>
          <li class="nav-item"><a class="nav-link" href="">One more</a></li> {% endcomment %}
        </ul>
      </div>